.product-same {
  display: flex;
  flex-wrap: wrap;
}
.product-same-category {
  width: 25%;
}
.detail-item {
  display: flex;
}
.fa, .fas {
  font-weight: 900;
  color: #e8e83c;
}
.item-detail {
  margin-left: 15px;
}
.item-favourite {
  display: flex;
}
.icon-fav {
  margin: 4px 10px;
}
.item-name {
  font-size: 35px;
}
.img-detail {
  width: 45%;
  height: 280px;
}
.product-title {
  font-size: 25px;
  margin: 15px 0px 10px 0;
}
