.profile-title {
  font-size: 30px;
  padding-left: 20px;
}
.form-profile {
  margin: 25px;
  border: 1px solid #b1b5b1;
  padding: 20px 10px;
}
.profile {
  margin: 0 auto;
}
.profile-card {
  width: 400px;
  margin: 20px auto;
  border: 2px solid;
  padding: 30px;
}
.btn-profile {
  margin: 15px 0;
}
